ul#main-menu {
    margin-top: 30px;
}

ul#main-menu > li > a {
    font-size: 12px;
    font-weight: bold;
}

ul#main-menu > li > a i.material-icons {
    font-size: 14px;
    color: black;
}

div.layout-menu#menu-container {
    width: 225px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}